<div class="row section well shadow" id="contact">
  <div class="col-xs-12">
    <h2>Contact</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p>Contact me to chat about your project or website, getting an estimate budget or more information about our services.</p>
        <hr/>
        <p><a href="mailto:fsalgueromateu+contact@gmail.com" title="E-mail"><i class="fa fa-envelope"></i>fsalgueromateu@gmail.com</a></p>
        <p><a href="https://twitter.com/FerranSalguero" title="Twitter"><i class="fa fa-twitter"></i>@FerranSalguero</a></p>

      </div>
      <div class="col-xs-12 col-sm-8">
        <form action="http://formspree.io/fsalgueromateu+contact@gmail.com" method="post">
          <div class="form-group"><label class="sr-only" for="_replyto">Your e-mail</label><input type="email" name="_replyto" class="form-control" placeholder="Your e-mail"></div>
          <div class="form-group"><label class="sr-only" for="name">Message</label><textarea rows="6" name="name" class="form-control" placeholder="Message"></textarea></div>
          <input type="text" name="_gotcha" style="display:none" />
          <input type="submit" class="btn btn-primary" value="Send">
        </form>

      </div>
    </div>

  </div>
</div>