{% include head.html %}

<body>

	<div class="wrapper">
		<header role="banner" class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a href="../" class="navbar-brand"><span><img height="52" src="/images/logo-nav.png" />Ferran Salguero</span></a></h1>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li><a href="#services">Services</a></li>
						<li><a href="#work">Work</a></li>
						<li><a href="#contact">Contact</a></li>
						<li><a href="/blog">Blog</a>
							{% if page.private %}
							<li class="active"><a href="/checklists/">Checklists</a></li>
							{% endif %}

						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a rel="profile" href="https://twitter.com/FerranSalguero"><i class="fa fa-twitter"></i></a></li>
							<li><a rel="profile" href="http://es.linkedin.com/in/FerranSalguero"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</nav>

				</div>
			</header>

			{{ content }}

			<div class="push"></div>

		</div>

		{% include footer.html %}

        <div id="back-to-top" class="container">
            <i class="fa fa-caret-up"></i>
        </div>
    </body>
    </html>